.header {
    padding-top: 22px;
}

@media screen and (max-width:1170px) {
    .header {
        padding-top: 37px;
    }
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    color: inherit;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 45px;
}

@media screen and (max-width:1170px) {
    .header__list {
        gap: 20px;
    }
}

.header__link {
    font-size: 18px;
    line-height: 1.16;
    color: var(--secondary-text-color);
}

.header__link__active {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
    background-image: linear-gradient(140.6deg, #FFFFFF -27.18%, #DEDEDE 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;

    padding: 19px 35px 17px 43px;
}

@media screen and (max-width:1170px) {
    .header__link__active {
        padding: 10px 20px;
    }
}