@import-normalize;
@import url(./stylesheets/fonts.css);
@import url(./stylesheets/vars.css);
@import url(./stylesheets/reset.css);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mazzard';
  color: var(--primary-text-color);
  background-color: rgb(0, 0, 0);
  line-height: 1.2;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width:1170px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width:768px) {
  .container {
    max-width: 390px;
    padding: 0 28px;
  }
}

.wrapper {
  background-image: url(./images/top-shadow.svg), url(./images/circle-back.svg), url(./images/circle-back-1.svg);
  background-repeat: no-repeat;
  background-position: top left, center right, center right;
}

@media screen and (max-width:768px) {
  .wrapper {
    background-position: top left, center right -800px, center right;
  }
}

/* custom  */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ffffff;
}

@media screen and (max-width:1170px) {
  body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    width: 0;
    background-color: transparent;
  }

}